.card {
  width: 100%;
  position: relative;
  transition: transform 0.45s;
}

.coverImg {
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  max-height: 315px;
  width: 205px;
}
.card:hover {
  transform: scale(1.1);
}

.data {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 2rem;
}

.title {
  text-decoration: none;
  color: #fff;
}
.wrapper_rating {
  /* margin-top: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_rating .icon {
  align-items: center;
  font-size: 2rem;
  color: gold;
  opacity: 0.7;
  height: 100%;
}

.icon {
  font-size: 2rem;
}

/* Btn-Wrapper */
.btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.btn-list {
  text-align: center;
  padding: 15px;
  border: 3px solid;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  color: white;
  margin: 10px;
  font-weight: bold;
}

/* Media Query */

@media screen and (min-width: 1024px) {
  .content-main {
    padding: 1rem 3rem;
  }
}
