@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap");

:root {
  --font-primary: "Nunito Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --bg-footer: #0c111b;
  --bg-header: #0c111b;
  --bg-body: #0c111b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  font-family: var(--font-primary);
  background-color: #0c111b;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--bg-body);
  border-radius: 28px;
  border: 1px solid #133196;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  transition: ease-in-out 0.4s;
  text-decoration: none;
}
.btn:hover {
  background-color: #133196;
}
.btn:active {
  position: relative;
  top: 1px;
}
