.list-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.list-input {
  width: 100%;
  font-size: 1.5rem;
  background-color: none;
  border: none;
  min-height: 30px;
  /* padding: 0.75rem; */
  padding: 5px 10px;
  border-radius: 10px;
}
.list-input:focus {
  outline: none;
}

.list-input::placeholder {
  color: #929292;
}
.btn-add {
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(196, 154, 154);
  border: 3px solid rgb(187, 157, 157);
  display: inline-block;
  cursor: pointer;
}
